site_name: ES IODE Documentation
site_url: https://iode-documentation.readthedocs.io/

nav:
  - Introduction: "index.md"
  - ChangeLog: "changelog.md"
theme:
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
  palette:
    - scheme: esiode
      primary: blue
      accent: blue 
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: blue 
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode


  favicon: assets/IodeIconv232-round.png
  icon:
    logo: fontawesome/solid/microscope
  name: material
  language: en
  font:
    text: Poppins
extra_css:
  - stylesheets/extra.css
copyright: Copyright &copy; 2020 - 2023 <a href="https://ethicseido.com"  target="_blank" rel="noopener">ETHIC SEIDO</a>

extra:
  feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
  generator: false
  social:
    - icon: fontawesome/brands/linkedin 
      link: https://www.linkedin.com/showcase/es-iode
    - icon: fontawesome/brands/facebook 
      link: https://www.facebook.com/ESIodeSearchEngine
    - icon: fontawesome/solid/envelope
      link: https://ethicseido.com/Shared/Contact

markdown_extensions:
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - tables
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - social
  - search


